<div>
  <div class="row" ng-show="deletemode" style="padding:20px;">
    Are you sure?<br /><br />

    <button class="btn btn-info" ng-click="canceldelete()">No Cancel</button>
    <button class="btn btn-danger" ng-click="deletecontainer(true)">Yes! Delete</button>
  </div>

  <div ng-hide="deletemode">
    <ul class="nav nav-tabs" id="viewerTab">
      
      <li ng-show="showdetails" ng-class="{active:tabmode=='details'}"><a style="cursor:pointer;" ng-click="setmode('details')">Details</a></li>
      <li ng-repeat="tab in blueprint.tabs" ng-class="{active:tabmode==tab.name}"><a style="cursor:pointer;" ng-click="setmode(tab.name)">{{ tab.name | ucfirst }}</a></li>
      <li ng-show="showchildren" ng-class="{active:tabmode=='children'}"><a style="cursor:pointer;" ng-click="setmode('children')">Children</a></li>
      <li ng-show="settings.showjson" ng-class="{active:tabmode=='json'}"><a style="cursor:pointer;" ng-click="setmode('json')">JSON</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">


      <!--
        children
       -->
      <div ng-show="showchildren" ng-class="{active:tabmode=='children', in:tabmode=='children', fade:tabmode!='children'}" class="tab-pane" id="children" style="margin-top:20px;">

        <div>

          <div class="digger-viewer-container" ng-repeat="$digger in children" ng-click="click_container($digger)">

            <div style="margin-bottom:5px;">
              <i class="icon" ng-class="geticon($digger)"></i>
            </div>
            <div>
              {{ $digger.title() }}
            </div>

          </div>

        </div>
        <hr style="clear: left;" />
        <div>
          <button style="margin:10px;" class="btn btn-sm btn-info" ng-click="add_from_blueprint(blueprint)" ng-repeat="blueprint in addchildren">new {{ blueprint.title() }}</button>
        </div>

      </div>

      <!--
        JSON
       -->
      <div ng-show="settings.showjson" ng-class="{active:tabmode=='json', in:tabmode=='json', fade:tabmode!='json'}" class="tab-pane" id="children" style="margin-top:20px;">

        <div class="row" ng-show="(issaved && settings.container_url)">
          <form class="form form-horizontal">
          <div class="form-group">
            <label for="warehouselink" class="col-sm-3 control-label ng-binding">REST URL:</label>
            <div class="col-sm-6" style="overflow:none;">
              <input type="text" readonly class="form-control" id="containerurl" ng-model="container_url" />
            </div>
            <div class="col-sm-3">
              <!--<a ng-href="{{ container_url }}" target="_blank" class="btn btn-info">open</a>-->
              <button ng-click="selectcontainerurl()" href="" class="btn btn-info">select</a>
            </div>
          </div>
          </form>
        </div>

        <div class="row" ng-show="(issaved && settings.container_branch)">
          <form class="form form-horizontal">
          <div class="form-group">
            <label for="warehouselink" class="col-sm-3 control-label ng-binding">Branch URL:</label>
            <div class="col-sm-6" style="overflow:none;">
              <input id="branchurl" type="text" readonly class="form-control" ng-model="container_branch" />
            </div>
            <div class="col-sm-3">
              <button ng-click="selectbranchurl()" href="" class="btn btn-info">select</a>
            </div>
          </div>
          </form>
        </div>

        <hr ng-show="(settings.container_url || settings.container_branch)" />

        <digger-json container="container" />

      </div>

      <!--
        details
       -->
      <div ng-show="showdetails" ng-class="{active:tabmode=='details', in:tabmode=='details', fade:tabmode!='details'}" class="tab-pane" id="details" style="margin-top:20px;">
         <form class="form form-horizontal" name="containerForm" onSubmit="return false;" ng-hide="deletemode">

            <fieldset>
              
                <form novalidate>
                  <digger-form fields="blueprint.fields" container="edit_container" />
                </form>


                  <div class="pull-right">
                    <a href="" ng-click="toggledigger()">
                    <span ng-show="diggeractive">-</span>
                    <span ng-hide="diggeractive">+</span>
                     digger
                    </a>
                  </div>

                  <div ng-show="diggeractive">
                    <hr />
                    <form novalidate>
                      <digger-form fields="digger_fields" container="edit_container">
                        
                      </digger-form>
                    </form>

                    
                  </div>
                

      
              
            </fieldset>

          </form>


        

      </div>


      <!--
        tabs
       -->
      <div ng-repeat="tab in blueprint.tabs" ng-show="tabmode==tab.name" ng-class="{active:tabmode==tab.name, in:tabmode==tab.name, fade:tabmode!=tab.name}" class="tab-pane" id="{{ tab.name }}" style="margin-top:20px;">

        <div ng-if="!tab.type">
          <form novalidate>
            <digger-form fields="tab.fields" container="edit_container" />
          </form>
        </div>
        <div ng-if="tab.type">
          FIELD
        </div>
        

      </div>

    </div>
    <div ng-if="(tabmode!='children' && tabmode!='json')">
    <hr />
    <div class="form-group text-center" style="margin-top:10px;">
        
          <button ng-show="addmode || settings.cancelbutton" class="btn btn-info" ng-click="cancelcontainer()">Cancel</button>
          <button ng-hide="hidedelete()" class="btn btn-warning" ng-click="deletecontainer()">Delete</button>
          <button class="btn btn-success" ng-click="savecontainer()">Save</button>
          
      </div>
    </div>
  </div>